.container {
    width:70%;
    padding-bottom: 30px;
}

@media only screen and
(max-width : 899px ) {

    .container {
        width:100%;
    }
}
.image-container {
  width:100%;
  padding-bottom: 30px;

}


body {
  font-family: 'Avenir';
}


h5 {
  font-weight: normal;
}

zoom {
  padding: 50px;
  background-color: green;
  transition: transform .1s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.people {
  color: #82BBBE;
}

a {
  color: #82BBBE;
}

li {
  opacity: #A9A9A9;
}
