/*---- NEEDS TO BE REORGANIZED ----*/

/*---- Color palette ----*/
/* Green #679595
Dark Purple #596088
Light Purple #7083A5
Dark Pink #B5A0AF
Light Pink #EFE9EF
*/

/*---- Header ----*/
.nav-item a {
  color: #707070 !important;
}

::selection {
  background: #fea49f; /* WebKit/Blink Browsers */
  color: white;
}

.nav-item a:hover {
  color: #679595 !important;
}

p a {
  font-weight:bold;
  color: #679595;
}

p a:hover {
  color: #679595;
}

#recent a {
  color: #707070;

}

#recent a:hover {
  color: #679595;
}


/*---- Headings ----*/
h2, h3, h4, h5 {
  /* font-family: "Satisfy"; */

  color: #707070;
}
h1 {
  width:100%;
  font-size: 4em;
  color: #679595;
  font-family: "Josefin Sans";

}

h2, h3 {
  font-family: "Josefin Sans";

}

h4 {
  font-size: 1.3em;
}

h5 {
  font-style: italic;

  font-size: 1em;
}


/*---- Footer ----*/
footer {
  text-align:center;

}

/*---- portfolio blocks ----*/
.col {
  display: block;
  border-radius: 20px;
  padding: 60px 20px;
  text-align: center;
  /* width: 100%; */
  margin-right:30px;
  margin-left:30px;
  margin-bottom:30px;
  margin-top:30px;
  color: #707070;
}

.col h2{
  margin: 0;
  color: #fbaf08;
}

.projects {
  /* background-color: #00a0a0; */
  border-width: 2px;
  border: solid #00a0a0;
}

.projects-section {
  font-family: "Josefin Sans";

  color: #fbaf08;
  font-size:2em;
}

.project-page-section {
  font-family: "Josefin Sans";

  color: #fbaf08;
  font-size:2em;
}

.projects:hover, .projects:hover h2,  .projects:hover h3, .projects:hover h4, .projects:hover h5, .projects:hover h6, .projects:hover p  {
  /* background-color: #B5A0AF; */
  border-radius: 20px;
  text-decoration: none;
  color: white;
  background-color: #00a0a0;

  /* color: #EFE9EF; */
}

/*---- project descriptions ----*/
body {
  margin-left: 15%;
  margin-right: 15%;
  font-family: "Open Sans";
  color: #707070;

}

/* carousel images */
#carouselExampleIndicators {
  margin: auto;
  width: 70%;
}

/* about page */
.about {
  padding-top: 0;
  text-align: justify;
}

/* specific project pages */
.writeup {
  margin-right:30px;
  margin-left:30px;
}
